<% options ||= {} %>

<%= form_for(note, html: { class: 'encrypted_submit' }) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: :input_data, placeholder: 'Note', value: note.field_value %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <% unless options[:minimal] %>
      <%= button_tag('Expand', type: :button, id: :expand_textarea) %>
      <%= button_tag 'Generate Password', type: :button, id: :generate_password %>
    <% end %>
    <%= f.text_area :content, id: :note_content, class: :input_data, rows: 20 %>
  </div>

  <% if options[:edit_section] %>
    <div class="field">
      <%= f.label :section %>
      <%= f.text_field :section_id, placeholder: 'Section ID' %>
    </div>
  <% else %>
    <%= f.hidden_field :section_id, value: note.section.id %>
  <% end %>

  <div class="actions">
    <%= f.submit unless options[:minimal] %>
  </div>
<% end %>
