<%= form_for(note, html: { class: 'encrypted_submit' }) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: :input_data, placeholder: 'Note', value: note.field_value %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <button id="expand_textarea" type="button">Expand</button>
    <button id="generate_password" type="button">Generate Password</button>
    <%= f.text_area :content, id: :note_content, class: :input_data, rows: 20 %>
  </div>

  <%= f.hidden_field :section_id, value: note.section.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
