<h1 class="data"><%= @note.title %></h1>

<p>
  <%= link_to 'Edit', edit_note_path(@note) %> |
  <%= link_to 'Back', @note.section %>
</p>

<p>
  <strong>Section:</strong>
  <%= link_to @note.section.name, @note.section, class: :data %>
</p>

<div class="data">
  <%= @note.content %>
</div>
