<p>
  Up to: <%= link_to @note.section.name, @note.section, class: :data %>
</p>

<h1 class="data"><%= @note.title %></h1>

<p>
  <%= link_to 'Edit', edit_note_path(@note) %>
  <%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<hr/>

<p id="clipboard"></p>

<div class="data markdown">
  <%= @note.content %>
</div>
