<h1>Account</h1>
<p>
  <%= link_to current_user.email, edit_user_registration_path %> |
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</p>

<p>
  <input id="key" type="text" placeholder="Client-side key"/>
  <button id="show_key">Reveal</button>
</p>

<h1>Notebook</h1>
<h2>Sections</h2>
<%= render 'sections/form', section: Section.new %>
<%= render 'sections/list', sections: @sections %>

<h2>Recent Notes</h2>
<ul>
  <% @notes.each do |note| %>
    <li><%= link_to note.title, note, class: :data %></li>
  <% end %>
</ul>
