<p>
  Up to:
  <% if @section.parent.present? %>
    <%= link_to @section.parent.name, @section.parent, class: 'data' %>
  <% else %>
    <%= link_to 'Sections Index', sections_path %>
  <% end %>
</p>

<h1 class="data"><%= @section.name %></h1>
<p>
  <%= link_to 'Edit Section', edit_section_path(@section) %>
  <%= link_to 'Destroy', @section, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>


<h2>Child sections</h2>
<%= render 'sections/form', section: Section.new(parent: @section) %>
<%= render 'sections/list', sections: @section.children %>

<h2>Notes</h2>
<%= render 'notes/form', note: Note.new(section: @section) %>
<%= render 'notes/list', notes: @section.notes unless @section.notes.empty? %>
