<h1 class="data"><%= @section.name %></h1>
<p>
  <%= link_to 'Edit', edit_section_path(@section) %> |
  <%= link_to 'Back', sections_path %>
</p>

<p>
  <strong>Parent:</strong>
  <% if @section.parent.present? %>
    <%= link_to @section.parent.name, @section.parent, class: 'data' %>
  <% else %>
    <%= link_to 'Sections Index', sections_path %>
  <% end %>
</p>

<h2>Child sections</h2>
<%= render 'sections/form', section: Section.new(parent: @section) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Children</th>
      <th>Notes</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @section.children.each do |section| %>
      <tr>
        <td><%= link_to section.name, section, class: 'data' %></td>
        <td><%= section.child_count %></td>
        <td><%= section.note_count %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Notes</h2>
<%= render 'notes/form', note: Note.new(section: @section) %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @section.notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, note, class: :data %></td>
        <td><%= distance_of_time_in_words(note.created_at, Time.zone.now) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
